main{
    max-width: 1060px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 28px;
}

.content{
    white-space: pre-line;
}

.red{
    color: #e50914;
}

.btn-wrap{
    margin-top: 6px;
}

.btn-wrap button{
    margin-right: 4px;
}

.table{
    display: block;
    border: 1px solid #eeeeee;
    padding :10px;
    width: fit-content;
    margin-bottom: 10px;
    min-width: 100px;
    align-items: stretch;
    
}

.table p{
    margin-bottom: 8px;
}

.btn-wrap{
    display: flex;
    flex-direction: row;
}
button{
    flex: 1;
    width: 100%;
    border: 0;
    padding: 4px 10px;
    color: white;
    font-weight: bold;
    margin-right: 4px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #4dbcc7;
}